.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #34bbda;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Gotham", "Arial", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 425px) {
    font-size: 14px;
  }
}
