.container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 140px;

  @media (max-width: 1440px) {
    padding: 0 100px;
  }

  @media (max-width: 1280px) {
    padding: 0 60px;
  }

  @media (max-width: 960px) {
    padding: 0 30px;
  }

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}
