.footer {
  background-color: #2c2c2c;
  padding: 28px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  &__main {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 23px;
  }

  &__main-wrapper {
    display: grid;
    grid-template-columns: 230px auto auto;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
  }

  &__companies-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 9px;
  }

  &__companies-item {
    padding: 8px 4px;
    background-color: #272627;
    border-radius: 5px;
  }

  &__companies-item-image {
    width: 130px;
    aspect-ratio: 130 / 34;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
  }

  &__social-link {
    position: relative;
    width: 43px;
    height: 43px;
    border-radius: 5px;
    transition: opacity 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 28px;
      height: 28px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__social-link--tg {
    background-color: #039be5;

    &::before {
      background-image: url("../../img/footer/telegram.svg");
    }
  }

  &__social-link--vk {
    background-color: #4b729f;

    &::before {
      background-image: url("../../img/footer/vkontakte.svg");
    }
  }

  &__social-link--tc {
    width: 151px;
    background-color: #d35a2f;

    &::before {
      width: 120px;
      height: 14px;
      background-image: url("../../img/footer/traffic-cardinal.png");
    }
  }

  &__additional-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-top: 16px;
    max-width: 690px;
    margin: 0 auto;
    text-align: center;
  }

  &__copyright {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
  }

  &__policy {
    text-decoration: none;
    color: currentColor;
    font-size: 14px;
    line-height: 20px;
    transition: color 0.3s;

    &:hover {
      color: #34bbda;
    }
  }

  @media (max-width: 1440px) {
    &__main-wrapper {
      grid-template-columns: 230px auto;
    }

    &__social-list {
      grid-column: 2;
      grid-row: 2;
    }
  }

  @media (max-width: 1280px) {
    padding: 23px 0 21px;

    &__main {
      padding-bottom: 31px;
    }

    &__companies-list {
      gap: 7px;
    }

    &__companies-item {
      padding: 6px 3px;
    }

    &__companies-item-image {
      width: 110px;
    }

    &__additional-wrapper {
      max-width: none;
      padding-top: 20px;
    }
  }

  @media (max-width: 850px) {
    &__main-wrapper {
      grid-template-columns: 200px auto;
    }

    &__companies-list {
      gap: 5px;
    }
  }

  @media (max-width: 768px) {
    &__logo {
      justify-self: center;
    }

    &__main-wrapper {
      grid-template-columns: 1fr;
    }

    &__companies-list {
      justify-content: center;
    }

    &__social-list {
      grid-column: 1;
      grid-row: 3;
      justify-content: center;
    }
  }

  @media (max-width: 425px) {
    padding: 29px 0;

    &__main-wrapper {
      gap: 24px;
    }

    &__logo {
      width: 230px;
      margin-bottom: 5px;
    }

    &__companies-list {
      gap: 8px;
    }

    &__additional-wrapper {
      gap: 14px;
      padding-top: 24px;
    }
  }
}
