.logo {
  width: 230px;
  height: 28px;
  aspect-ratio: 230 / 28;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 850px) {
    width: 200px;
  }

  @media (max-width: 425px) {
    width: 150px;
  }
}
