@use "./common/fonts";
@use "./common/global";

@use "./blocks/container";
@use "./blocks/button";
@use "./blocks/logo";
@use "./blocks/header";
@use "./blocks/nav";
@use "./blocks/about";
@use "./blocks/offers";
@use "./blocks/footer";
