@use "../common/fonts" as *;

*,
* ::before,
* ::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

img {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 360px;
  min-height: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Gotham", "Arial", sans-serif;
  color: #ffffff;
  background-color: #181818;
  font-style: normal;

  @media (max-width: 1280px) {
    font-size: 18px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 425px) {
    font-size: 14px;
  }
}

.main-index {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("../../img/gradient-desktop.svg");
    background-repeat: no-repeat;
    background-position-y: 104%;
    background-position-x: 40%;
    background-size: 2720px, 1935px;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1113px;
    height: 518px;
    display: block;
    background-image: url("../../img/main-bg-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -2;
    opacity: 0.15;
  }

  @media (max-width: 960px) {
    &::before {
      background-image: url("../../img/gradient-tablet.svg");
      background-size: 1686px, 1676px;
      background-position-y: 71%;
      background-position-x: 65%;
    }

    &::after {
      width: 481px;
      height: 325px;
      background-image: url("../../img/main-bg-tablet.svg");
      z-index: -1;
    }
  }

  @media (max-width: 425px) {
    &::before {
      background-image: url("../../img/gradient-mobile.svg");
      background-size: 670px, 302px;
      background-position-y: -20%;
      background-position-x: 25%;
    }

    &::after {
      content: none;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.overlay {
  overflow: hidden;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: block;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
  }
}

.underlined {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 3px;
    display: block;
    background-color: #34bbda;
    border-radius: 2px;
  }
}
